{% extends "base.html" %}
{% block content %} 
<section class = "types"><!--section where the differnt types of risks are -->
    <div class = "row">
        <div class = "types-col" ><!--column 1 talks about cyberbullying -->
            <h3>Sasidhar Jasty</h3>
            <p>Co-Lead Programmer</p>
        </div>
        <div class = "types-col" ><!--column 2 talks about Identity Theft -->
            <h3>Varshith Gude</h3>
            <p>Co-Lead Programmer</p>
        </div>
        <div class = "types-col" ><!--column 3 talks about Cyberbullying -->
            <h3>Vashisth Pareek</h3>
            <p>Researcher</p>
        </div>
    </div>
</section>{% endblock %}